<%- include('parts/head') %>
<title> Wisi | Custom Url Shortener </title>

<center>
<h1 style="margin-top: 200px; font-size: 40px;" ><i class="fa-solid fa-link"></i> URL Shortener<h1>

<form action="/create/custom" method=get >
<div style="width: 60%" class="input-group mb-3">
  <input  type="URL" name="link" class="form-control" placeholder="https://wisi.ml/" aria-label="https://wisi.ml/" aria-describedby="basic-addon2" oninvalid="this.setCustomValidity('Please enter a link')" autocomplete="off" Required>
  <div style="width: 40%" class="input-group mb-4">
  <input  type="text" name="url" class="form-control" placeholder="wisi" aria-label="wias" aria-describedby="basic-addon2" autocomplete="off" required>
<div class="input-group-append">
     <div class="btn-group">
    <button type="submit" class="btn btn-outline-secondary">Shorten</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" href="/">Random</a>
    </div>
  </div>
</form>
</center>

<%- include('parts/footer') %>



<script src="https://kit.fontawesome.com/1940a844c3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>