
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer-16371">
<!--- <div class="social mb-4">
<h3>Wisi</h3>
<ul class="list-unstyled">
<li class="in"><a href="#"><span class="fab fa-instagram"></span></a></li>
<li class="fb"><a href="#"><span class="icon-facebook"></span></a></li>
<li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
<li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
<li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li>
</ul>
</div> --->
<div class="copyright">
<p class="mb-0"><small>© Wisi. All Rights Reserved.</small></p>
</div>
</footer>